<html>
  <head>
    <style>
      div {
        height: 200px;
        width: 400px;

        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
        font-size: 72px;
      }
    </style>
  </head>
  <body>
    <div>
      Hallo,
      {{ local_ip }}
    </div>
  </body>

</html>